header {
  background-color: indigo;
  color: white;
  padding: 0 15px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 760px;
  margin: auto;
}

button:focus {
  outline:0;
}

input:focus {
  outline: 0;
}

.icon-large {
  font-size: 30px;
  padding: 0 10px;
}

.Books-book {
  margin: 0 30px;
  position: relative;
}

.Books-book > div {
  position: absolute;
  top: 150px;
  left: 110px;
}

.flex {
  display: flex;
  overflow-x: auto;
}

.AddBook-search-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 30px auto 50px;
}

.AddBook-input {
  width:100%;
  border: none;
  border-bottom: grey solid 1px;
  margin: 0 20px;
  padding: 5px;
  font-size: 20px;
}

.grey {
  color: grey
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



